<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/Fase2/Login//style.css' %}">
    <meta charset="UTF-8" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>    
    
  </head>  
  <body>
                
    <div class="container" id="container">
      
      <div class="form-container sign-in-container">
        <form action="#">
          <h1>Ingresar</h1>                    
          <input type="email" placeholder="Usuario" />
          <input type="password" placeholder="Constraseña" />         
          <button>Ingresar</button>
          <br>
          <button id="signUp">Registrarse</button>
        </form>
        
      </div>
             
    </div>
    
    <script src="{% static '/Fase2/Login/script.js' %}"></script>
  </body>
</html>
